<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RegistroUsuario.Properties.Settings.ConStr" connectionString="Data Source=DESKTOP-CI7DQBE;Initial Catalog=Registro_Usuarios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>